/* ====== CSS VARIABLES ====== */
:root {
    /* ===== ОСНОВНОЙ ФОН ===== */
    --color-bg-header: rgba(5, 6, 10, 0.5);          /* основной фон хеддера */
    --color-bg-modal: rgba(5, 6, 10, 0.9);          /* основной фон модального окна */
    --color-bg-main: #05060a;          /* основной фон сайта */
    --color-bg-secondary: #0a0d14;     /* секции с акцентом */
    --color-bg-glass: rgba(255,255,255,0.03); /* стеклянные карточки */
    --color-bg-tertiary: #0a0a0a;

    /* ===== BRAND / CORE COLOR ===== */
    --color-brand-primary: #008cff;       /* основной цвет сайта */
    --color-primary-glow-soft: 0 0 15px rgba(0, 234, 255, 0.3); /* слабый акцент glow */
    --color-primary-glow-strong: 0 0 50px rgba(0, 234, 255, 0.7); /* сильный акцент glow */
    --color-second-glow-soft: 0 0 15px rgba(155, 92, 255, 0.3); /* слабый акцент glow */
    --color-second-glow-strong: 0 0 50px rgba(155, 92, 255, 0.7); /* сильный акцент glow */

    /* ===== ТЕКСТ ===== */
    --color-text-main: #e6e9f0;        /* основной текст */
    --color-text-muted: #9aa3b2;       /* второстепенный текст */
    --color-text-dim: #7b8291;         /* подсказки, мелкий текст */

    /* ===== АКЦЕНТЫ (AM – I – GUESS – ?) ===== */
    --color-accent-am: #00eaff;        /* AM — существование */
    --color-accent-i: #9b5cff;         /* I — интеллект / AI */
    --color-accent-guess: #00ffb3;     /* GUESS — вероятность */
    --color-accent-question: #ff4d4d;  /* ? — неопределенность */

    /* ===== КНОПКИ ===== */
    --color-btn-primary: #00eaff;      /* фон основной кнопки */
    --color-btn-primary-darker: #00eaffd8;
    --color-btn-second: #9b5cff;       /* фон / граница второстепенной кнопки */
    --color-btn-second-darker: #9b5cffd8;
    --color-btn-text: #05060a;         /* цвет текста на кнопках */

    /* ===== ГРАНИЦЫ / ЛИНИИ ===== */
    --color-border-soft: rgba(255,255,255,0.08);
    --color-border-strong: rgba(255,255,255,0.15);

    /* ===== ЭФФЕКТЫ ===== */
    --glow-cyan: 0 0 20px rgba(0,234,255,0.25);
    --glow-green: 0 0 20px rgba(0,255,179,0.5);
    --glow-purple: 0 0 20px rgba(155,92,255,0.25);

    /* ===== ШРИФТЫ ===== */
    --body-font: 'Rajdhani', sans-serif;
    --code-font: 'JetBrains Mono', monospace;

    /* ===== РАДИУСЫ ===== */
    --radius-sm: 2px;
    --radius-md: 12px;
    --radius-lg: 20px;

    /* ===== Отступы ===== */
    --header-height: 4.5rem;

        /* АКЦЕНТЫ СТРАНИЦ */
    --color-accent-home: #d1123b;
    --border-color-accent-home: #b31033;
    --color-accent-dashboard: #f88809;
    --color-accent-projects: #23b879;
    --border-color-accent-projects: #1b8f5e;
    --color-accent-tasks: #125ed1;
    --border-color-accent-tasks: #1052b4;
    --color-accent-info: #505050;
}

* {
    box-sizing: border-box;
}

body
{
    font-family: var(--body-font);
    background: #eeeeee;
    color: black;
    line-height: 1.6;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

nav {
    position: sticky;
    top: 0;
    padding: 0.625rem;
    color: white;
    background-color: var(--color-bg-header);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    display: flex;
    gap: 0.625rem;
    font-family: var(--body-font);
    font-weight: 600;
}

.links-home,
.links-dashboard,
.links-projects,
.links-tasks {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 8px 12px;
    transition: background-color 0.3 ease;
}

.links-home:hover { background: var(--color-accent-home); }

.links-dashboard:hover { background: var(--color-accent-dashboard); }

.links-projects:hover { background: var(--color-accent-projects); }

.links-tasks:hover { background: var(--color-accent-tasks); }

.links:hover { background-color: var(--color-accent-question); }

.container-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--code-font);
    font-weight: 500;
}

.btn-logout {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: black;
    font-size: 1rem;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-logout:hover { background-color: white; color: black; }

/* Основная страница Home */
.container-hero {
    margin-top: 50px;
}

.section-hero-text h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.6;
    margin: 10px;
}

.section-hero-text p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
    font-family: var(--code-font);
}